<!DOCTYPE html>
<html>
  <head>
    <title>HandMatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="手相で相談相手をマッチングさせる" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
